/* *{
    box-sizing: border-box;
 } */
@font-face {
    font-family: "Manrope-Bold";
    src: url("/styles/project2_assets/fonts/static/Manrope-Bold.ttf");
}
@font-face {
    font-family: "Manrope-Medium";
    src: url("/styles/project2_assets/fonts/static/Manrope-Medium.ttf");
}   
@font-face {
    font-family: "Manrope-Light";
    src: url("/styles/project2_assets/fonts/static/Manrope-Light.ttf");
}
:root {
    --pri__color: #4F46B8;
    --sec__color: #575757;
    --cap__color: #A0A0A0;
    --li_color: #484848;
    --bgc__color: rgb(230, 235, 237);
    --nav__color: rgb(57, 58, 59);
    --navhr__color: #DDDAFF;
    --info__link: #8a87cc;
    --cardtxt__color: #ffffff;
    --card__bkg: #F2F5FB;
    font-family: Manrope;
    --Medium__font: "Manrope-Medium";
    --Bold__font:"Manrope-Bold";
    --Light__font:"Manrope-Light";
    --font__wt:600;
    --normal__font:normal;
    --xxlarge__font: 2em;
    --xlarge__font: 1.3em;
    --large__font:1em;
    --xxsmall__font:0.2em;
    --xsmall__font: 1em;
    --smaill_font:0.5em;
}


body {
    background-color: var(--bgc__color);
    
}

main {
    margin: 1em 6em;
}

.mepay {
    
    padding: 1em;
}

.mepay hr {
    border-color: var(--navhr__color);
}

#mepay__nav {
    font-family: var(--Medium__font);
    display: flex;
    justify-content: space-between;
    font-size: large;
}

#nav__left span {
    color: var(--pri__color);
}

#nav__right {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
#nav__right li a{
    text-decoration: none;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
.nav__item-color{
    color: var(--nav__color);
}
.nav__item-color--active{
    color: var(--pri__color);
}

#mepay__info span {
    font-size: var(--xlarge__font);
    font-family: var(--Bold__font);
    color: var(--pri__color);
}
#heading__p{
    font-size: var(--xlarge__font);
    font-family: var(--Medium__font);
}
#info__p {
    font-family: var(--Medium__font);
    font-size: var(--Medium__font);
    color: var(--sec__color);
}

#mepay__info a {
    border-color: var(--pri__color);
    text-decoration: underline var(--info__link);
    font-family: var(--Medium__font);
}
/* card 1*/
#mepay__cards{
    margin: 0px 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;  
       
}
#card__1 {
    background-color: var(--pri__color);
    display: inline-block;
    height: 45vh;
    padding: 1em;
    width: 25%;
    font-family: var(--Medium__font);
    font-size: var(--xlarge__font);
    text-align: center;
    color: var(--cardtxt__color);
    border-radius: 8px;
}


#card__1 img {
    width: 80%;
}
/* card 2 */
#card__init {
    background-color: var(--card__bkg);
    padding: 2em;
    border-radius: 32px;
    font-family: var(--Medium__font);
    width: 25%;
}
#card__init:hover{
    box-shadow: 4px 4px 12px 1px #C8C5E8;
    border-radius: 32px !important;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #8075F8 0%, #64C7F1 100%);
}
#link__2 a {
    text-decoration: none;
    font-size: var(--xxlarge__font);
    font-weight: var(--font__wt);
    color: var(--li_color);
}

#card__init hr {
    display:inline-block;
    
    width: 40%;
    border-color: var(--pri__color);
}
#plan__2{
    display: inline-flexbox;
    flex-direction: column;
}
#plan__2 p{
    font-size: 1em;
    margin: 0em;
    margin-bottom: 2em;
    color: var(--cap__color);
}
#plan__2 ul{
    list-style-image: url("/styles/project2_assets/Ellipse\ 15.svg")    
}
#plan__2 li{
    margin-bottom: 1.5em;
}
#button__2{
    text-align: center;
    margin-top: 2em;
} 
#button__2 a{
    font-family: var(--Medium__font);
    font-size: var(--smaill_font);
    text-decoration: none;
    color: white;
    border: none 2px;
    background-color: var(--pri__color);
    padding: 1em;
}
/* card 3 */

#link__3 a {
    text-decoration: none;
    font-size: var(--xxlarge__font);
    font-weight: var(--font__wt);
    color: var(--li_color);
}
#plan__3{
    display: inline-flexbox;
    flex-direction: column;
}
#plan__3 p{
    font-size: 1em;
    margin: 0em;
    margin-bottom: 2em;
    color: var(--cap__color);
}
#plan__3 ul{
    list-style-image: url("/styles/project2_assets/Ellipse\ 15.svg");
}
#plan__3 li{
    margin-bottom: 1.5em;
}
#button__3{
    text-align: center;
    margin-top: 2em;
} 
#button__3 a{
    font-family: var(--pri__font);
    font-size: var(--smaill_font);
    text-decoration: none;
    color: white;
    border: none 2px;
    background-color: var(--pri__color);
    padding: 1em;
    margin-top: 1em;
}